.sysirr_home_root
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.sysirr_home_menu {
    width: 200px;
    height: 100vh;
}

.sysirr_home_content {
    overflow: initial;
}
.ant-layout{
    height: 100%;
}