.syspre_meter_header_root
{
    height: 80px;
    line-height: 80px;
}

.syspre_meter_header_input_search
{
    width: 200px;
    vertical-align: middle;
    margin-left: 20px;
}

.syspre_meter_header_state
{
    width: 140px;
    vertical-align: middle;
    margin-left: 20px;
}
.syspre_meter_header_btn_search
{
    vertical-align: middle;
    margin-left: 20px;
}
.syspre_meter_header_tree
{
    width:200px;
    vertical-align: middle;
    margin-left: 20px;
}
.syspre_meter_header_select
{
    vertical-align: middle;
    margin-bottom: 10px;
    color: #ff7875;
    font-size: 15px;
}
