.syspre_group_header_root
{
    height: 80px;
    line-height: 80px;
}

.syspre_group_header_input_search
{
    width: 200px;
    vertical-align: middle;
    margin-left: 20px;
}

.syspre_group_header_state
{
    width: 140px;
    vertical-align: middle;
    margin-left: 20px;
}
.syspre_group_header_btn_search
{
    vertical-align: middle;
    margin-left: 20px;
}